.AppCard {
    position: relative;
    overflow: hidden;
}

.AppCard .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.AppCard:hover .gradient-overlay {
    opacity: 0.4;
}